.plot {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
}

.plotContainer {
    margin-top:2%;
    margin-bottom:2%;
    padding-left:1%;
    padding-right:1%;
    border: 5px solid #E8E8EE;
}

/*svg {
  width:90%;
  height:90%;
}*/